body {
    background-color: #7ebfff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    border: none;
    border-radius: 10px;
}

.btn-primary {
    background-color: #2e82ff;
    border: none;
    padding: 10px;
    font-weight: 500;
}

.btn-primary:hover {
    background-color: #07367c;
}

.form-control {
    border-radius: 5px;
    padding: 10px;
}

.form-control:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 0 0.2rem rgba(37, 115, 233, 0.87);
}

.progress {
    height: 25px;
    border-radius: 5px;
}

.progress-bar {
    font-weight: bold;
}

.alert {
    border-radius: 8px;
    border: none;
}